{% extends 'base.html' %}

{% block title %}
  {{ super() }} -Checkout
{% endblock %}

{% block app_content %}
  <div class="container top-margin-lg">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
        <h3 id="empty"></h3>
      </div> <!-- ends col-md-12 -->
    </div> <!-- ends row -->
    <div class="row">
      <div class="col-md-12" id="cart">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>$</th>
              <th>Rem.</th>
            </tr>
          </thead>

          <tbody>
            <!-- create a row for each product in cart -->
          </tbody>
          <tfoot>
          <tr>
            <th colSpan="2">Total:</th>
            <th colSpan="2" class="total">$0.00</th>
          </tr>
          <tr>
            <th colSpan="2"></th>
            <th id="pay">
              <!-- paste payment stripe -->
              <!-- render stripe button in js -->
            </th>
          </tr>
          </tfoot>
        </table>
      </div> <!-- ends col-md-12 -->
    </div> <!-- ends row -->
  </div> <!-- ends container -->
{% endblock %}
